<div class="grid grid-cols-1 bg-customblue text-white gap-10 text-center justify-center p-10" style="background-image: url('assets/bgr.png'); background-size: cover;">
    <div class="flex flex-col items-center">
        <p class="text-xl mb-10">How can we help?</p>
        <div class="w-1/2 mb-10">
            <p class="text-xl bg-gray-50 text-gray-300 rounded-full p-2">Search something</p>
        </div>
        <p class="text-white mb-10"><span class="text-gray-300">Popular Search:</span> Front of House, Reservation, Waitlist, Floor, Shift, Order</p>
    </div>
</div>
