<div class="grid grid-cols-2 bg-black text-white gap-10 my-5 text-center justify-center p-10">
    <div>
        <p class="text-red-600 font-bold text-5xl mb-10">How can we help?</p>
        <p class="text-xl mb-10 bg-gray-50 text-gray-500 rounded-full p-2">Search something</p>
        <p class="text-lime-300 font-bold text-xl mb-10">Popular topics: foods, coupons</p>
        
        <p class="text-white text-lg">
            Welcome to our dining haven, where we're dedicated to enhancing your culinary experience. Whether you're seeking an intimate dinner, planning a celebration, or simply craving a delightful meal, we're here to assist you every step of the way.
        </p>
        
        <p class="text-white text-lg">
            At our restaurant, we understand the importance of a seamless dining experience. To ensure your visit is hassle-free, we offer a convenient online reservation system. Booking a table has never been easier – simply choose your preferred date, time, and the number of guests. Our user-friendly interface ensures a swift and efficient reservation process, allowing you to focus on anticipating the exceptional flavors that await you.
        </p>
    </div>
    <div>
        <img src="assets/dn1.jpg" alt="Domain Names" class="max-w-full h-auto">
    </div>
</div>
