<div class="text-center text-black font-bold text-3xl ">
    <p >Explore our Helpdesk!</p>
</div>

<div class="grid grid-cols-2 mt-8 p-6 gap-5">
    <div class="text-black text-left gap-4 p-3 flex flex-col font-bold  shadow-2xl rounded-3xl bg-white">
        <p class="text-2xl text-center">Getting Started</p>
        <p class="text-gray-400 text-center">Explore the essentials of smart dining, set up your account easily, and navigate our user-friendly mobile app for a hassle-free experience.</p>
      </div>

    <div class="text-black text-left gap-4 p-3 flex flex-col font-bold  shadow-2xl rounded-3xl bg-white">
        <p class="text-2xl text-center">Menu Navigation</p>
        <p class="text-gray-400 text-center">
            Learn how to effortlessly navigate our digital menu, customize your dining experience with ease, and discover information about dietary preferences.</p>
    </div>

    <div class="text-black text-left gap-3 p-3 flex flex-col font-bold  shadow-2xl rounded-3xl bg-white">
        <p class="text-2xl text-center">Ordering and Payments</p>
        <p class="text-gray-400 text-center">
            Effortlessly place orders through our app, discover a variety of payment options, and troubleshoot any payment-related issues you may encounter.</p>
    </div>

    <div class="text-black text-left gap-3 p-3 flex flex-col font-bold  shadow-2xl rounded-3xl bg-white">
        <p class="text-2xl text-center">Smart Table Features</p>
        <p class="text-gray-400 text-center">
            Discover the functionalities of our smart tables, troubleshoot any connectivity or control issues, and immerse yourself in interactive dining experiences.</p>
    </div>

    <div class="text-black text-left gap-4 p-3 flex flex-col font-bold  shadow-2xl rounded-3xl bg-white">
        <p class="text-2xl text-center">Unlock Exciting Deals</p>
        <p class="text-gray-400 text-center">Uncover exclusive offers and discounts, maximize savings with each dining experience, and stay informed about limited-time promotions to make the most of your visits.</p>
       
    </div>

    <div class="text-black text-left gap-4 p-3 flex flex-col font-bold  shadow-2xl rounded-3xl bg-white">
        <p class="text-2xl text-center ">Dine and Earn Rewards</p>
        <p class="text-gray-400 text-center">Become a part of our loyalty program for fantastic rewards. Earn points with every order, unlocking special perks along the way. Redeem your accumulated rewards for delightful dining experiences.</p>
    
    </div>
</div>

<div class="text-center text-black font-bold text-3xl">
    <p>Explore our Helpdesk!</p>
</div>

<div class="grid grid-cols-2 mt-8 p-6 gap-5">
    <div class="text-black gap-4 p-3 flex flex-col font-bold shadow-2xl rounded-3xl bg-white">
        <p class="text-2xl text-left">Getting Started</p>
        <p class="text-gray-900 font-normal text-left">Explore the essentials of smart dining, set up your account easily, and navigate our user-friendly mobile app for a hassle-free experience.</p>
    </div>

    <div class="text-black gap-4 p-3 flex flex-col font-bold shadow-2xl rounded-3xl bg-white">
        <p class="text-2xl text-left">Menu Navigation</p>
        <p class="text-gray-900 font-normal text-left">Learn how to effortlessly navigate our digital menu, customize your dining experience with ease, and discover information about dietary preferences.</p>
    </div>

    <div class="text-black gap-3 p-3 flex flex-col font-bold shadow-2xl rounded-3xl bg-white">
        <p class="text-2xl text-left">Ordering and Payments</p>
        <p class="text-gray-900 font-normal text-left">Effortlessly place orders through our app, discover a variety of payment options, and troubleshoot any payment-related issues you may encounter.</p>
    </div>

    <div class="text-black gap-3 p-3 flex flex-col font-bold shadow-2xl rounded-3xl bg-white">
        <p class="text-2xl text-left">Smart Table Features</p>
        <p class="text-gray-900 font-normal text-left">Discover the functionalities of our smart tables, troubleshoot any connectivity or control issues, and immerse yourself in interactive dining experiences.</p>
    </div>

    <div class="text-black gap-4 p-3 flex flex-col font-bold shadow-2xl rounded-3xl bg-white">
        <p class="text-2xl text-left">Unlock Exciting Deals</p>
        <p class="text-gray-900 font-normal text-left">Uncover exclusive offers and discounts, maximize savings with each dining experience, and stay informed about limited-time promotions to make the most of your visits.</p>
    </div>

    <div class="text-black gap-4 p-3 flex flex-col font-bold shadow-2xl rounded-3xl bg-white">
        <p class="text-2xl text-left">Dine and Earn Rewards</p>
        <p class="text-gray-900 font-normal text-left">Become a part of our loyalty program for fantastic rewards. Earn points with every order, unlocking special perks along the way. Redeem your accumulated rewards for delightful dining experiences.</p>
    </div>
</div>
