<div class="text-center text-black font-bold text-5xl my-5">
    <p>Explore our Helpdesk!</p>
</div>

<div class="grid grid-cols-3 mt-8 p-6 gap-5">
    <div class="text-black text-left gap-4 p-3 flex flex-col font-bold border-2 shadow-2xl border-black bg-white">
        <p class="text-2xl text-center">Getting Started</p>
        <p class="text-gray-400 text-center">Discover the basics of smart dining.</p>
        <p class="text-gray-400 text-center">Learn how to set up your account.</p>
        <p class="text-gray-400 text-center">Explore our user-friendly mobile app.</p>
    </div>

    <div class="text-black text-left gap-4 p-3 flex flex-col font-bold border-2 shadow-2xl border-black bg-white">
        <p class="text-2xl text-center">Menu Navigation</p>
        <p class="text-gray-400 text-center">Understand how to navigate our digital menu.</p>
        <p class="text-gray-400 text-center">Customize your dining experience with ease.</p>
        <p class="text-gray-400 text-center">Learn about dietary preferences.</p>
    </div>

    <div class="text-black text-left gap-3 p-3 flex flex-col font-bold border-2 shadow-2xl border-black bg-white">
        <p class="text-2xl text-center">Ordering and Payments</p>
        <p class="text-gray-400 text-center">Place orders seamlessly using our app.</p>
        <p class="text-gray-400 text-center">Explore various payment options available.</p>
        <p class="text-gray-400 text-center">Troubleshoot payment-related issues.</p>
    </div>

    <div class="text-black text-left gap-3 p-3 flex flex-col font-bold border-2 shadow-2xl border-black bg-white">
        <p class="text-2xl text-center">Smart Table Features</p>
        <p class="text-gray-400 text-center">Learn about smart table functionalities.</p>
        <p class="text-gray-400 text-center">Troubleshoot connectivity or control issues.</p>
        <p class="text-gray-400 text-center">Explore interactive dining experiences.</p>
    </div>

    <div class="text-black text-left gap-4 p-3 flex flex-col font-bold border-2 shadow-2xl border-black bg-white">
        <p class="text-2xl text-center">Unlock Exciting Deals</p>
        <p class="text-gray-400 text-center">Discover exclusive offers and discounts.</p>
        <p class="text-gray-400 text-center">Maximize your savings on every dining experience.</p>
        <p class="text-gray-400 text-center">Stay updated on limited-time promotions.</p>
    </div>

    <div class="text-black text-left gap-4 p-3 flex flex-col font-bold border-2 shadow-2xl border-black bg-white">
        <p class="text-2xl text-center ">Dine and Earn Rewards</p>
        <p class="text-gray-400 text-center">Join our loyalty program for fantastic rewards.</p>
        <p class="text-gray-400 text-center">Earn points with every order and enjoy special perks.</p>
        <p class="text-gray-400 text-center">Redeem rewards for delightful dining experiences.</p>
    </div>
</div>


<div class="text-center text-black font-bold text-5xl my-5">
    <p>Explore our Helpdesk!</p>
</div>

<div class="grid grid-cols-3 mt-8 p-6 gap-5">
    <div class="col-span-1">
        <div class="text-black text-left gap-4 p-3 flex flex-col font-bold border-2 shadow-2xl border-black bg-white">
            <div class="flex items-center">
                <img src="assets/get.svg" alt="Getting Started Icon" class="w-12 h-12 mr-2"/>
                <p class="text-2xl text-center mx-36">Getting Started</p>
            </div>
            <p class="text-gray-400 text-center">Discover the basics of smart dining.</p>
            <p class="text-gray-400 text-center">Learn how to set up your account.</p>
            <p class="text-gray-400 text-center">Explore our user-friendly mobile app.</p>
        </div>
    </div>

    <div class="col-span-1">
        <div class="text-black text-left gap-4 p-3 flex flex-col font-bold border-2 shadow-2xl border-black bg-white">
            <div class="flex items-center">
                <img src="assets/menunavigation.svg" alt="Menu Navigation Icon" class="w-12 h-12 mr-2"/>
                <p class="text-2xl text-center mx-32">Menu Navigation</p>
            </div>
            <p class="text-gray-400 text-center">Understand how to navigate our digital menu.</p>
            <p class="text-gray-400 text-center">Customize your dining experience with ease.</p>
            <p class="text-gray-400 text-center">Learn about dietary preferences.</p>
        </div>
    </div>

    <div class="col-span-1">
        <div class="text-black text-left gap-4 p-3  flex flex-col font-bold border-2 shadow-2xl border-black bg-white">
            <div class="flex items-center">
                <img src="assets/ordering.svg" alt="Ordering and Payments Icon" class="w-12 h-12 mr-2"/>
                <p class="text-2xl text-center mx-24">Ordering and Payments</p>
            </div>
            <p class="text-gray-400 text-center">Place orders seamlessly using our app.</p>
            <p class="text-gray-400 text-center">Explore various payment options available.</p>
            <p class="text-gray-400 text-center">Troubleshoot payment-related issues.</p>
        </div>
    </div>

    <div class="col-span-1">
        <div class="text-black text-left gap-4 p-3 flex flex-col font-bold border-2 shadow-2xl border-black bg-white">
            <div class="flex items-center">
                <img src="assets/smart.svg" alt="Smart Table Features Icon" class="w-12 h-12 mr-2"/>
                <p class="text-2xl text-center mx-28">Smart Table Features</p>
            </div>
            <p class="text-gray-400 text-center">Learn about smart table functionalities.</p>
            <p class="text-gray-400 text-center">Troubleshoot connectivity or control issues.</p>
            <p class="text-gray-400 text-center">Explore interactive dining experiences.</p>
        </div>
    </div>

    <div class="col-span-1">
        <div class="text-black text-left gap-4 p-3 flex flex-col font-bold border-2 shadow-2xl border-black bg-white">
            <div class="flex items-center">
                <img src="assets/exciting.svg" alt="Unlock Exciting Deals Icon" class="w-12 h-12 mr-2"/>
                <p class="text-2xl text-center mx-24">Unlock Exciting Deals</p>
            </div>
            <p class="text-gray-400 text-center">Discover exclusive offers and discounts.</p>
            <p class="text-gray-400 text-center">Maximize your savings on every dining experience.</p>
            <p class="text-gray-400 text-center">Stay updated on limited-time promotions.</p>
        </div>
    </div>

    <div class="col-span-1">
        <div class="text-black text-left gap-4 p-3 flex flex-col font-bold border-2 shadow-2xl border-black bg-white">
            <div class="flex items-center ">
                <img src="assets/dine.svg" alt="Dine and Earn Rewards Icon" class="w-12 h-12 mr-2"/>
                <p class="text-2xl text-center mx-24">Dine and Earn Rewards</p>
            </div>
            <p class="text-gray-400 text-center">Join our loyalty program for fantastic rewards.</p>
            <p class="text-gray-400 text-center">Earn points with every order and enjoy special perks.</p>
            <p class="text-gray-400 text-center">Redeem rewards for delightful dining experiences.</p>
        </div>
    </div>
</div>




