<div class="text-center text-red-600 font-bold text-5xl my-5">
    <p>Explore our Helpdesk!</p>
</div>

<div class="grid grid-cols-2 mt-8 p-6 gap-5">
    <div class="text-white text-center gap-4 p-3 flex flex-col font-bold border-2 shadow-2xl border-red-400">
        <p class="text-2xl">Getting Started</p>
        <p class="text-gray-400">We invite you on a gastronomic adventure where every dish tells a story. Our carefully
            curated food menu is a testament to our passion for flavors, quality ingredients, and culinary artistry.</p>
    </div>

    <div class="text-white text-center gap-4 p-3 flex flex-col font-bold border-2 shadow-2xl border-red-400">
        <p class="text-2xl">Getting Started</p>
        <p class="text-gray-400">We invite you on a gastronomic adventure where every dish tells a story. Our carefully
            curated food menu is a testament to our passion for flavors, quality ingredients, and culinary artistry.</p>
    </div>

    <div class="text-white text-center gap-3 p-3 flex flex-col font-bold border-2 shadow-2xl border-red-400">
        <p class="text-2xl">Exploring our menu</p>
        <p class="text-gray-400">Discover a diverse array of dishes that cater to every palate. From appetizing starters
            to mouthwatering main courses and indulgent desserts, our menu is designed to delight and satisfy.</p>
    </div>

    <div class="text-white text-center gap-3 p-3 flex flex-col font-bold border-2 shadow-2xl border-red-400">
        <p class="text-2xl">Exploring our menu</p>
        <p class="text-gray-400">Discover a diverse array of dishes that cater to every palate. From appetizing starters
            to mouthwatering main courses and indulgent desserts, our menu is designed to delight and satisfy.</p>
    </div>
</div>